:root {
    background-color: #2a9d8f;
    color: rgba(38, 143, 212, 0.512);

}
#field {
    display: inline-flexbox;
    
}
.background{
    background-color:#2a9d8f;
}

.picture{
    width: 30vw;
    height: 100vh;
    position: relative;
    margin: 20px;
   
}
.movietitle{
    font-size: 20px;
    color: black;
    position: relative;
    font-weight: bold;
    text-decoration: underline;
   left: 2vh;

}
.movierelease{
    color: black;
    position: relative;
    left: 57vw;
    top:1vh
}
.moviedescription{
    max-width: 20vw;
    position: relative;
    left: 40vw;
    display:inline ;
}
.publisher{
position: absolute;
left: 53vw;
top: 45vh;
font-size: 30px;
color: black;
font-weight: bold;
}
.moviescore{
position: absolute;
left: 45vw;
top: 45vh;
color: black;
font-size: 30px;
font-weight: bold;
}
.review{
position: absolute;
top:50vh;
left: 45vw;
color: black;
font-size: 20px;
max-width: 20vw;

}.learnmorebtn{
    position: absolute;
    background-color: black;
    color:white;
    left: 42vw;
    border-radius: 20px;
    width: 500px;
    height: 50px;
    
}
.containertwo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.video{
  position: relative;
  display: flex;
  justify-content: center;
  margin: 20px;
}
.movieposter{
    width: 40vw;
    height: 100vh;
    display: inline;
    position: relative;
    top: 15vh;
    border: solid black 10px;
    margin-left: 50px;
}
.movie-poster{
    display: flex;
    flex-direction: row;
}
.movie-info{
    padding-left: 20px;
}
.title{
    font-size: 50px;
    color: #e9c46a;
    font-weight: bold;
    text-align: center;
    font-family: "limelight";
    
}
.movie-title{
    font-size: 80px;
    color: #ca6702;
    text-align: center;
    
}
.top{
text-align: center;
font-size: 30px;
color: #423E3B;
}
.box{
    background-color:#423E3B;
    margin: 40px;
}
.textcolor{
    color:white
}
.boxone{
    background-color: #A40606;
}
.boxtwo{
background-color: white;
}.textcolor2{
    color:#A40606
}
.titlebox{
    background-color: #FBD87F;
}
.home-btn{
    position: absolute;
    top:5vh;
    left: 4vw;
    width: 62vh;
    background-color: #023047;
    border:none;
    color:white
}
.card{
    background-color: #423E3B;
    color: white;
    height: 70vh;
    margin: 20px;
    font-size:30px;
    border-radius: 10px;
    padding: 10px;
}
.card-header{
    font-weight: bold;
    font-size: 40px;
    color: #e9c46a;
}
.imgstyle{
position: relative;
height: 30vh;
width: 10vw;
border: solid black 5px;

}
.text-info{
    font-size: 50px;
    color: black;
    font-weight: bold;
}
.is-rounded{
    background-color: #3E78D6;
    color: white;
}

.search-btn{
    background-color: #485fc7;
}
.label{
    font-size: 35px;
    color: black;
}
.rewardscall, .genrecall, .writercall, .actorscall{
    text-align: center;
    font-size: 35px;
}


.history-btn{
background-color: #485fc7;
border-style: none;
color: white;
position: relative;
left: 58vw;
}

.searchcolor{
    color:white;
}

/* media query to make website responsive */
@media only screen and (max-width: 500px) {
    .history-btn {
      left: 0vw;
    }
  }
  @media only screen and (max-width: 500px) {
    .search-input {
      width: 80vw;
    }
  }
  @media only screen and (max-width: 500px) {
    .card {
      width:70vw;
      height: 100vh;
      font-size: 25px;
    }
  }
  @media only screen and (max-width: 500px) {
    .home-btn {
        width: 13vh;
        left: 35vw;
        position: absolute;
        top: 1vw;


    }
  }
  @media only screen and (max-width: 500px) {
    .movieposter {
     display: none;
    }
  }
  @media only screen and (max-width: 500px) {
    .titlebox {
      margin-top: 12vh;
    }
  }
  @media only screen and (max-width: 500px) {
    .youtubemovie {
      height: 30vh;
    }
  }
  @media only screen and (max-width: 1481px) {
    .home-btn {
      width: 20vh;
    }
  }