:root {
    background-color: rgb(202, 205, 55);
    color: rgba(38, 143, 212, 0.512);

}
#field {
    display: inline-flexbox;
    
}
.picture{
    max-width: 10vw;
    position: relative;
    left: 30vw;
}
.movietitle{
    font-size: 40px;
    color: black;
    position: relative;
    left: 45vw;
    top: 5vh;
    font-weight: bold;
}